---
title: "Posts";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
const posts = await getCollection("posts");
---

<Layout seo={{ title: "Posts", description: "A collection of blog posts about stars and astronomy." }}>
  <h1 class="text-2xl font-semibold p-4">Posts</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    {posts
      .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
      .map(v => (
        <a href={`/posts/${v.slug}/`} class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-300 ease-in-out">
              <Image 
                src={v.data.cover}
                alt={v.data.title}
                width={560}
                height={315}
                class="w-full h-auto object-cover"
              />
          <div class="card-body">
            <h2 class="card-title">{v.data.title}</h2>
            <p class="text-sm text-base-content/70">{new Date(v.data.date).toLocaleDateString()}</p>
          </div>
        </a>
      ))}
  </div>
</Layout>